<form (ngSubmit)="submit()" action="post">
  <div class="fieldset">
    <div class="form-group">
      <label for="login">Login:</label>
      <input [(ngModel)]="email" class="form-control" type="text" name="email" id="email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input  [(ngModel)]="password" class="form-control" type="password" name="password" id="password">
    </div>
  </div>
  <div class="fieldset">
    <div class="form-group">
      <input type="submit" class="btn btn-primary float-right" value="Login">
    </div>
  </div>
</form>
