article {
  margin-bottom: 50px;
  h1 {
    font-size: 36px;
  }
  ::ng-deep h2 {
    font-size: 24px;
  }
  ::ng-deep h3,
  ::ng-deep h4,
  ::ng-deep h5 {
    font-size: 18px;
  }
  .meta {
    color: grey;
  }
}
